*{
    padding: 0px;
    margin: 0px;
}
.logo img{
    height: 55px;
    width:164px;
    
}
nav{
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.right ul{
    display: flex;
    gap:34px;
}

.right ul li{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    align-items: center;
    display: flex;
    list-style: none;
    cursor: pointer;
}



li img {
    height:10px;
    width:10px;
}
ul li span{
    padding:0px 5px;
}