*{
            padding: 0px;
            margin: 0px;
        }
        .cards{
            border:2px solid black;
            display: flow-root;
        }

        .card{
            border: 2px solid  red;
        }
        img {
            float:left;
        }
        .cards :nth-child(3){
            clear: both;
            background-color: aquamarine;
            font-size: 25px;
            font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
        }