.container {
            background-color: aquamarine;
            height: 80vh;
            width: 60vw;
        }

        .box {
            height: 8vh;
            width: 6vw;
            background-color: blueviolet;
            /* transition-property: transform , background-color;
            transition-duration: 4s;
            transition-timing-function:ease-in-out ;
            transition-delay:1s ; */
            transition: all 5s ease-in-out 2s;
        }
        .translate {
            transform: translateX(200px) translateY(300px) translateZ(400px);
            background-color: brown;
        }