  @import url('https://fonts.googleapis.com/css2?family=Baloo+Bhai+2:wght@400..800&display=swap');

        h1 {
            text-align: center;
            background-color: rgb(255, 251, 0);
            border: 2px solid rgb(73, 0, 128);
            padding: 20px;
            box-sizing: border-box;

            font-family: 'Times New Roman', Times, serif;
            /* font-family: "Baloo Bhai 2", sans-serif; */
            font-style: italic;
            font-size: 50px;
            text-decoration: underline;
            text-transform: capitalize ;
            text-decoration-style:dashed;
            text-decoration-color: aqua;
            text-decoration-thickness: 5px;
        }

        p {
            font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
            font-style: oblique;
            line-height: 4;
            text-transform:  lowercase;
            text-decoration: underline;
            text-decoration-color: red;
            text-decoration-style: dotted;
            text-decoration-thickness: 5px;
            text-align: justify;
        }

        .lorem {

            background-color: aqua;
            border: 2px solid purple;
            padding: 20px;
            width:148px ;
            word-break: break-all;
           /* text-overflow: ellipsis;
           overflow: hidden; */
        }

        .ex {
            background-color: rgb(255, 0, 8);
            border: 2px solid rgb(0, 128, 15);
            padding: 20px;
            box-sizing: border-box;

        }