 * {
            margin: 0;
            padding: 0;
        }

        body{
            display: flex;
            justify-content: center;
            align-items: center;
        }
        .container {
            width: 40vw;
            height: 80vh;
            background-color: blueviolet;
            border: 2px solid red;
            border-radius: 50%;
            display: flex;
        }

        .box {
            cursor: pointer;
            font-size: 15px;
            padding-top: 250px;
            justify-self:  center;
            text-align: center;
            align-self: center;
            height: 100px;
             border: 1px solid black;
             border-radius: 50%;
            width: 100px;
            /* animation: saurabh;
            animation-duration: 2s;
            animation-iteration-count: infinite;
            animation-timing-function: ease-in-out;
            animation-delay: 2s;
            animation-direction: reverse;*/
            /*animation-direction: alternate-reverse;*/
            /* animation-play-state: paused; */

            animation: saurabh 2s ease-in-out 1s 10 normal , choti 2s ease-in-out 1s 10 normal ;


            /* animation: name duration timing-function delay iteration-count direction fill-mode; it is  the shorthand syntax of  animation*/
        }

        @keyframes saurabh {
            from {
                background-color: red;

            }

            to {

                background-color: aquamarine;
            }
        }

        @keyframes choti {
          0%{
                transform: rotate(25deg);
          } 

          20%{
                 transform: rotate(50deg);
          }

          40%{
                 transform: rotate(75deg);
          }
          60%{
                 transform: rotate(100deg);
          }
          80%{
                 transform: rotate(200deg);
          }
          100%{

                 transform: rotate(305deg);
          }
        }
   